:root {
    --superhero: 'Bangers', cursive;
    --fantasy: 'MedievalSharp', cursive;
    --space: 'Orbitron', sans-serif;
    --military: 'Black Ops One', cursive;
    --romantic: 'La Belle Aurore', cursive;
    --scary: 'Creepster', cursive;
    --cowboy: 'Rye', cursive;
    --regular: sans-serif;
    --fantasy: 'MedievalSharp', cursive;
    --font: var(--regular);
    --sharp: 0;
    --soft: 10px;
    --round: 100px;
    
    --image: var(--soft);
    
    --background: #f5f5f5;
    --text: #222222;
    
    --light: var(--background);
    --dark: var(--text);
}

body, html {
    display: block;
    margin: 0;
    padding: 20px;
    background: var(--background);
    color: var(--text);
    font-family: var(--font);
    font-size: large;


}

.pfp-img {
    display: flex;
    width: 500px;
    border-radius: calc(var(--image) * 2);
    border: 4px solid rgb(76, 13, 76);
    margin: auto auto ;     /*{To centre image}*/

    /* margin-left: 10px; */


}
.title {
    display: flex;
    justify-content: center;
}

.sub-header {
    display: flex;
    justify-content: center;
}


.list{
    display: flex;
    justify-content: center;
    /* border: 2px solid white; */
}

.contact-info{
    display: flex;
    justify-content: center;
}

.btn {
    display: flex;
    justify-content: center;
}



/* 
    Utility Class :
        A class with only one purpose
        can be accsed by calling it in HTML with a single space as divider
*/

.italic{
    font-style: italic;
    font-size: large;
}



a {
    color: var(--text);
    font-style: bold;
    font-weight: bold;
    color:rgb(0, 53, 175)
}

input {
  display: block;
  margin: 20px 0 0;
  width: 160px;
  box-sizing: border-box;
  padding: 4px 8px;
  border-width: 1px;
  border-style:groove ;
  border-color: var(--text);
  color: var(--text);
  background: none;
  border-radius: var(--image);
  font-family: var(--font);
  line-height: 24px;
}

::placeholder {
  color: var(--text);
}

button {
  border-radius: var(--image);
  padding: 5px 10px;
  border: none;
  background: var(--text);
  color: var(--background);
  font-weight: bold;
  box-sizing: border-box;
  display: block;
  margin: 8px 0;
  cursor: pointer;
  font-family: var(--font);
  width: 160px;
}
